

<h2>投稿編集ページ</h2>

<%= form_for(@book) do |f| %>
<p> タイトル </p>
<%= f.text_field :title %>

<p> 本文 </p>
<%= f.text_area :body %>
<p><%= f.submit %></p>
<% end %>

<span><%= link_to '戻る', book_path(params[:id]) %></span>
<span><%= link_to '削除', book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %></span>

<% if @book.errors.any? %>
  <h3><%= @book.errors.count %>errors</h3>
<% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
<% end %> 


