<h2>投稿詳細</h2>

<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<h3>タイトル</h3>
<%= @book.title %>

<h3>本文</h3>
<%= @book.body %>


  <p><%= link_to '戻る', books_path %></p>
  <p><%= link_to '編集', edit_book_path %></p>

